Repository tianxing0923/wabp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat(tinypng-cli): 新增 TinyPNG CLI
  packages/tinypng-cli/README.md
  packages/tinypng-cli/bin/cli.js
  packages/tinypng-cli/package.json
  packages/tinypng-cli/rollup.config.ts
  packages/tinypng-cli/src/index.ts
  packages/tinypng-cli/src/utils.ts
  packages/tinypng-cli/tsconfig.json
  playground/tinypng/.tinypng.cache.json
  playground/tinypng/.tinypngrc.json
  playground/tinypng/package.json
  playground/tinypng/src/images/a.png
  playground/tinypng/src/images/b.jpg
Due: eslint --fix, prettier --write

chore: 新增 eslint-config-prettier
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 更换standard-version为changesets
  .changeset/README.md
  .changeset/config.json
  .versionrc.json
  package.json
  packages/tinypng-cli/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 修改README
  package.json
  packages/tinypng-cli/README.md
Due: prettier --write

chore: 修改 script
  package.json
Due: prettier --write

chore: Create npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

chore: 修改脚本
  package.json
Due: prettier --write

chore: 新增 LICENSE
  packages/tinypng-cli/LICENSE
  packages/tinypng-cli/README.md
Due: prettier --write

feat: 新增 prettier-config
  packages/prettier-config/LICENSE
  packages/prettier-config/README.md
  packages/prettier-config/index.js
  packages/prettier-config/package.json
Due: eslint --fix, prettier --write

chore: changeset add
  .changeset/slow-mugs-yawn.md
Due: prettier --write

feat: 新增 eslint-config
  packages/eslint-config/LICENSE
  packages/eslint-config/README.md
  packages/eslint-config/index.js
  packages/eslint-config/lib/defaults.js
  packages/eslint-config/package.json
  packages/eslint-config/typescript.js
Due: eslint --fix, prettier --write

chore: 修改 npm-publish.yml
  .github/workflows/npm-publish.yml
  package.json
Due: prettier --write

chore: 增加依赖
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 修改 eslint 规则
  .changeset/wet-rocks-sin.md
  .eslintrc.json
  packages/eslint-config/index.js
  packages/eslint-config/lib/defaults.js
  packages/eslint-config/package.json
  packages/eslint-config/typescript.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: eslint fix
  .changeset/tough-insects-obey.md
  packages/tinypng-cli/src/index.ts
  packages/tinypng-cli/src/utils.ts
Due: eslint --fix, prettier --write

chore: 修改 workflows
  .github/workflows/npm-publish.yml
Due: none

feat: 新增 stylelint-config
  .changeset/thin-snails-hide.md
  packages/stylelint-config/LICENSE
  packages/stylelint-config/README.md
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
Due: eslint --fix, prettier --write

chore: 修改配置
  .prettierrc.json
  pnpm-lock.yaml
Due: prettier --write

chore: 修改依赖项
  .changeset/shiny-actors-care.md
  packages/eslint-config/README.md
  packages/eslint-config/package.json
Due: prettier --write

chore: update versions
  .changeset/shiny-actors-care.md
  .changeset/thin-snails-hide.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write

chore: 修改依赖项
  pnpm-lock.yaml
Due: none

feat: 更换 tinypng 上传地址
  .changeset/good-shoes-decide.md
  .eslintignore
  package.json
  packages/tinypng-cli/src/utils.ts
  packages/tinypng-cli/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: update versions
  .changeset/good-shoes-decide.md
  packages/tinypng-cli/CHANGELOG.md
  packages/tinypng-cli/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,less,scss})) or (any of: *.{html,json,md})
  stylelint --fix: any of: *.{css,less,scss}
